@model KutuphaneOtomasyon.Models.Entity.TBL_CATEGORY
    @{
        ViewBag.Title = "CategoryAdd";
        Layout = "~/Views/Shared/Layout.cshtml";
    }

    <form class="form-group" method="post">


        <div style="margin-top:15px">


            <label>Category</label>
            @Html.TextBoxFor(category_ad=>category_ad.ad,new {@class = "form-control"})


        </div>

        <div style="margin-top:15px">

            <button class="btn btn-info" id="btn1">Category Add</button>

        </div>


    </form>

