@model KutuphaneOtomasyon.Models.Entity.TBL_BORROW_BOOK
@{
    ViewBag.Title = "GiveBackBook";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<div class="container">
    <fieldset>

        @using (Html.BeginForm("submit", "BorrowRecord", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label>Kitap Fotoğrafını Yükleyiniz</label>
                <input type="file" class="form-control" name="file" />
                <span class="help-block">Kitap Fotoğrafını bu alana yükleyiniz</span>
            </div>
            <input type="submit" class="btn btn-default" value="Upload Image" name="submit" />
        }

    </fieldset>

    @if (ViewBag.Result)
    {
        <fieldset>
            <legend>Results Obtained:</legend>
            <div class="form-group">
                <label>Result</label>
                <textarea class="form-control" readonly rows="10">@ViewBag.res</textarea>
            </div>
        </fieldset>

    }



</div>

@using (Html.BeginForm("GiveBackBook2", "BorrowRecord", FormMethod.Post))
{
    <div>

        <label>PROCESS ID</label>
        @Html.TextBoxFor(k => k.id, new { @class = "form-control" })
        <label>BOOK ISBN</label>
        <input type="text" class="form-control" value=@ViewBag.metin name="book_isbn" />
        <label>DATE OF RETURN</label>
        <input type="date" class="form-control" value="" name="date_of_return"
    </div>
    <div>

        <button class="btn btn-success" style="margin-top:10; color:#000000">Give Back Book</button>
    </div>



}